<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.om.web.dao.EmpDao">
	<select id="findPageObjects" resultType="com.om.web.entity.Employee">
		select * from tb_user
		<include refid="sqlWhere" />
		<!-- order by createdTime limit #{startIndex},#{pageSize} -->
	</select>

	<select id="getRowCount" resultType="int">
		select count(*) from tb_user
		<include refid="sqlWhere" />
	</select>


	<sql id="sqlWhere">
		<where>
			<if test="username!=null and username!=''">
				username like concat("%",#{username},"%")
			</if>
		</where>
	</sql>

	<delete id="deleteObject">
		delete from tb_user where id in
		<foreach collection="ids" open="(" close=")" separator=","
			item="item">
			#{item}
		</foreach>
	</delete>




	<insert id="addEmp">
		insert into tb_user(id,username,password,phone,email)
		values(#{id},#{username},#{password},#{phone},#{email})
	</insert>


	<select id="findEmpById" resultType="com.om.web.entity.Employee">
		select * from tb_user where id=#{id}
	</select>
	<update id="updateEmp">
		update tb_user set username=#{username},
		password=#{password},
		phone=#{phone},
		email=#{email} 
		where id=#{id}
	</update>



</mapper>